<h1>New review</h1>
<%= render 'form' %>

<%= link_to "Back to restaurant", restaurant_path(@restaurant) %>

<%# Helper %>
<%# `simple_form for @review` => POST `reviews_path` %>
<%# `simple_form for @restaurant, @review` => POST restaurant_reviews_path %>
